

public class {{classname}} {{#parent}}extends {{{.}}}{{/parent}} {{#vendorExtensions.x-implements}}{{#-first}}implements {{{.}}}{{/-first}}{{^-first}}, {{{.}}}{{/-first}}{{/vendorExtensions.x-implements}} {

  {{#vars}}{{#isEnum}}{{^isContainer}}
  {{>enumClass}}{{/isContainer}}{{#isContainer}}{{#mostInnerItems}}
  {{>enumClass}}{{/mostInnerItems}}{{/isContainer}}{{/isEnum}}

  private {{{datatypeWithEnum}}} {{name}}{{#defaultValue}} = {{{.}}}{{/defaultValue}};{{/vars}}

}
